.img{
    background-image: url('https://w0.peakpx.com/wallpaper/400/451/HD-wallpaper-plant-leaves-water-drops-dark-background-nature.jpg');
    background-size: cover;
    height: 95vh;
}
.color{
    background-color: rgba(0, 14, 0, 0.767);
}